<table class="table table-striped">
    <tbody><tr>
      <td class="col-md-2"></td>
      <td class="col-md-3"><a href="#setup">Setup</a></td>
      <td class="col-md-7">Download files required for the lesson</td>
    </tr>
      <tr>
        <td class="col-md-2">00:00</td>
        <td class="col-md-3">1. Introduction</td>
        <td class="col-md-7"> What are basic principles for using spreadsheets for good data organization?</td>
      </tr>
      <tr>
        <td class="col-md-2">00:18</td>
        <td class="col-md-3">2. Formatting Data Tables in Spreadsheets</td>
        <td class="col-md-7">What are some common challenges with formatting data in spreadsheets and how can we avoid them?</td>
      </tr>
      <tr>
        <td class="col-md-2">00:48</td>
        <td class="col-md-3">3. Formatting Problems</td>
        <td class="col-md-7">What are some common challenges with formatting data in spreadsheets and how can we avoid them?</td>
      </tr>
      <tr>
        <td class="col-md-2">01:08</td>
        <td class="col-md-3">4. Dates as Data</td>
        <td class="col-md-7">What are good approaches for handling dates in spreadsheets?</td>
      </tr>
      <tr>
        <td class="col-md-2">01:28</td>
        <td class="col-md-3">5. Quality Assurance</td>
        <td class="col-md-7">How can we carry out basic quality assurance in spreadsheets?</td>
      </tr>
      <tr>
        <td class="col-md-2">01:53</td>
        <td class="col-md-3">6. Exporting Data</td>
        <td class="col-md-7">How can we export data from spreadsheets in a way that is useful for downstream applications?</td>
      </tr>
    <tr>
      <td class="col-md-2">02:08</td>
      <td class="col-md-3">Finish</td>
      <td class="col-md-7"></td>
    </tr>
    </tbody></table>